@import url('./assets/fonts/champagne/stylesheet.css');

body {
  margin: 0;
  font-family: 'champagne__limousinesregular'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}